---
layout: default
is_index: true
---
{% for post in paginator.posts %}
    {% include post.html %}
{% endfor %}

<nav class="navigation pagination" role="navigation">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
        {% if paginator.previous_page %}
            <a class="prev page-numbers" href="{{ paginator.previous_page_path | relative_url }}"><svg class="svg-icon" width="22" height="22" aria-hidden="true" role="img" focusable="false" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg> <span class="nav-prev-text">Newer posts</span></a>
        {% endif %}
        {% if paginator.next_page %}
            <a class="next page-numbers" href="{{ paginator.next_page_path | relative_url }}"><span class="nav-next-text">Older posts</span> <svg class="svg-icon" width="22" height="22" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></a>
        {% endif %}
    </div>
</nav>
